<!DOCTYPE html>
<html ng-app="ffcountdown">
<head lang="en">
    <meta charset="UTF-8">
    <title>ToDo</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="./bower_components/angular/angular.js"></script>
</head>
<body>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-xs-6 timerbox" ng-controller="timerCtrl">
            <br><input type="number" ng-model="timeInterval" value="1" placeholder="1">

                <div class="row header">
                    <div class="col-xs-4">
                        <button class="btn btn-danger" ng-click="started=true">Start Time</button>
                        <button class="btn btn-danger" ng-click="pause=true" ng-show="started">Pause Timer</button>
                        <button class="btn btn-danger" ng-click="started=true" ng-show="pause">Resume Timer</button>
                    </div>
                    <div class="col-xs-4 text-center">
                        <h2>2:00</h2>
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-warning">Change Time</button>
                        <button class="btn btn-primary">Restart Time</button>
                    </div>

                </div>
                <div class="main">
                    <img src="img/profilepic.jpg" class="img-responsive img-circle personpic">
                    <p></p>
                    <h1 class="text-center">Go TEAM THOR</h1>
                    <h2 class="text-center">On the clock!</h2>
                </div>
                <div class="footer">
                    NEXT PERSON ON DECK
                </div>
        </div>
        <div class="col-sm-4 col-xs-6 namebox" ng-controller="nameCtrl">
            <br>
            <button class="btn btn-danger" ng-click="randomizer()">Randomize Names</button>
            <br>
            <h3>LIST OF NAMES from array</h3>
            <ol>
                <li ng-repeat="onename in randomNames">{{onename}}</li>
            </ol>
            {{randomNames}}
        </div>
    </div>
</div>


<!--must match (case-sensitive) name of controller on todo-master.js-->
<div class="col-md-12" ng-controller="ToDoController" class="container">
    <h1>What do I need to do today?</h1>

    <label for="searchbox">Search:</label>
    <input type="text" ng-model="search" id="searchbox"/>
    <label for="orderb">Order By: </label> <select id="orderb" ng-model="orderProp">
    <option value="">Oldest to Newest</option>
    <option value="title">Task Name</option>
</select>
    <p></p>
    <br>

    <div class="list-group"><h4>Items I Need To Do</h4>
        <p></p>
        Check off items once you have completed them
        <div ng-repeat="todo in todos | filter: search | orderBy: orderProp" class="row list-group-item">
            <!--ng model can be anything that takes an input like radio, textbox, etc.-->
            <div class="col-sm-6">
                <input type="checkbox" ng-model="todo.completed">
                <span ng-hide="edit">{{$index + 1}}. {{todo.title}}</span>
                <input type="text" ng-model="todo.title" ng-show="edit" size="40">
            </div>
            <div class="col-sm-4">
                <button ng-show="edit" ng-click="edit=false" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-remove"></span> Done with my edits</button>
                <button class="btn-sm btn-warning" ng-click="edit=true" ng-hide="edit"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
                <!--$index is special angular value and chooses index of array-->
                <button class="btn-sm btn-danger" ng-click="delete(todo)"><span class="glyphicon glyphicon-remove"></span> Delete</button>
            </div>
        </div>

        <br>
        <!--button will delete items for all items that are checked true-->
        <button type="button" class="btn btn-success" ng-click="clearFinished()"><span class="glyphicon glyphicon-ok"></span> Clear Checked Items</button>
        <p></p>

        <!--Form to add new Task-->
        <label for="newtask">New Task</label>
        <form name="form" class="row" ng-submit="add()" >
            <div class="col-sm-6">

                <input type="text" class="form-control" id="newtask" ng-model="newTodo" placeholder="What do you need to do next? (at least 5 characters)" required />
            </div>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || newTodo.length < 5"><span class="glyphicon glyphicon-plus"></span> Add</button>
            </div>
        </form>
    </div>

</div>

</div>
<script src="app.js"></script>
</body>
</html>