<!DOCTYPE html>
<html ng-app="todo">
<head lang="en">
    <meta charset="UTF-8">
    <title>ToDo</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="./bower_components/angular/angular.js"></script>
</head>
<body>


<!--<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-xs-6 timerbox" ng-controller="timerCtrl">
            {{hello}}
        </div>
    </div>
</div>-->
<!--
<div ng-controller="timerCtrl">
User time interval<input ng-model="userTimeInterval" type="number">
</div>

-->
<h1>Fantasy Football Draft Countdown Timer</h1>
    <div class="container-fluid" ng-controller="timeCtrl">
        <div class="row">

<!--TIMER            -->
            <div class="col-md-8 col-xs-6 timerbox">
                <div class="header">
                        <button class="btn btn-danger" ng-click="started=true; startTime(); timeLeft();"><i class="glyphicon glyphicon-play"></i> Start Time</button>
                        <button class="btn btn-danger" ng-click="pause=true; pauseTimer()" ng-show="started" ng-hide="pause"><i class="glyphicon glyphicon-pause"></i> Pause Timer</button>
                        <button class="btn btn-danger" ng-click="started=true" ng-hide="started" ng-show="pause"><i class="glyphicon glyphicon-play"></i> Resume Timer</button>
                        <button class="btn btn-warning" ng-click="setTime(); edittime=true"><i class="glyphicon glyphicon-time"></i> Change Time</button>
                        <button class="btn btn-primary" ng-click="started=true; startTime()"><i class="glyphicon glyphicon-refresh"></i> Restart Time</button>

                </div>
                <div class="main text-center">
                    <!--<img src="img/profilepic.jpg" class="img-responsive img-circle personpic">-->
                    <p></p>
                    <h1 class="text-center">Go {{activeTeam}}<span class="activeTeam"></span></span></h1>
                    <h2 class="text-center">On the clock!</h2>
                    Round {{numberRound}} of {{totalRounds}}<br>
                    Pick {{numberPick}} of {{totalPicks}}<br>

<h1 class="timerdisplay">
    <span id="countdownMin"></span>:<span id="countdownSec"></span><br>
</h1>
                </div>
                <div class="footer">
                    NEXT PERSON ON DECK {{nextperson}}
                </div>
            </div>            <!-- closes column .timerbox-->

<!-- NAMES-->
            <div class="col-sm-4 col-xs-6 namebox">
                <h3>Set the Fantasy Draft Timer</h3>
                <br>
                Number of Teams: <input type="number" ng-model="totalPicks" min="1"><br>
                Number of Rounds: <input type="number" ng-model="totalRounds" min="1"><br>

                <form id="timeIntervalForm">

                    Min: <input type="number" ng-model="userTimeInterval.min" min="0" max="60">  Sec: <input type="number" ng-model="userTimeInterval.sec" max="60" min="0">
                    <button class="btn btn-primary" ng-click="setTime(); startTimer(); goThroughNames(); edittime=false;" ng-hide="edittime=false">Start time</button>
                </form>
                <br>
                <p ng-show="edittime=false">The timer will go every {{userMin}} minutes and {{userSec}} seconds. </p>
                <br>

                <h3>Add New Name</h3>
                <form id="addName"ng-submit="addName()" >
                    <input type="text" class="form-control" id="newName" ng-model="newName" placeholder="What's your awesome team name?" />
                    <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || newName.length < 1"><span class="glyphicon glyphicon-plus"></span> Add</button>

                </form>
                <!--<input type="text" ng-model="newName"><button class="btn btn-primary" ng-click="addName()">Add Name</button>-->
                <br>
                <h3>Team Names</h3>
                highlightedList = {{highlightedList}}<br>
                <ol id="namelist">
                    <li ng-repeat="onename in nameArray" id="{{onename.name}}" class="row onename-section">

                            <div class="col-xs-8">
                                <span ng-hide="edit">
                                  {{onename.name}}
                                 </span>
                                <input type="text" ng-model="onename.name" ng-show="edit" size="40">
                            </div>
                            <div class="col-xs-4">
                                <button class="btn-sm btn-warning" ng-click="edit=true" ng-hide="edit" data-toggle="tooltip" data-placement="top" title="Edit Team Name"><i class="glyphicon glyphicon-pencil"></i></button>
                                <button ng-show="edit" data-toggle="tooltip" data-placement="top" title="Save Changes" ng-click="edit=false" class="btn btn-warning btn-sm"><i class="glyphicon glyphicon-saved"></i></button>
                                <button class="btn-sm btn-danger" ng-click="delete(onename)" data-toggle="tooltip" data-placement="top" title="Delete team name"><i class="glyphicon glyphicon-remove"></i></button>

                            </div>

                    </li>
                </ol>
                <button class="btn btn-danger" ng-click="randomizer()">Randomize Names</button>

                <button class="btn btn-success" ng-click="deleteAll()">Delete All Names</button>
<br><br>
                <br></div><!-- closes column .namebox-->
        </div>
    </div>

</div><!--ends container-fluid-->

<div>


</div>

<script src="app.js"></script>
</body>
</html>